@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
}

@layer component {
    .btn {
        @apply flex items-center w-auto px-6 py-3 mb-3 text-lg !text-white bg-indigo-600 rounded-md sm:mb-0 hover:bg-indigo-700 sm:w-auto;
    }
    .gutter {
        @apply dark:bg-gray-900 bg-no-repeat;
        background-position: 50%;
    }

    .gutter.gutter-vertical {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
        cursor: row-resize;
    }
    .gutter {
        @apply dark:bg-gray-900 bg-no-repeat;
        background-position: 50%;
    }

    .gutter.gutter-horizontal {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
        cursor: col-resize;
    }

    div:hover > .action {
        opacity: 1 !important;
    }
}
.copy-btn {
    @apply rounded-full z-[999999] bg-gray-50 opacity-0
   text-gray-500 text-xs font-semibold leading-6 py-0.5 
   pl-2 pr-2.5 flex items-center hover:bg-gray-100 
   transition-opacity select-none dark:bg-gray-700
    dark:text-gray-400 dark:hover:bg-gray-600
     pointer-events-none focus:opacity-100 
     focus:pointer-events-auto absolute bottom-[75px]
      right-[calc(14px+0.625rem)];
}
